/* ============================================ */

@import url("null.css");

/* ============================================ */

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

/* ============================================ */

body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

/* ============================================ */

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ============================================ */

[class*="__container"] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="__container-mini"] {
  width: 810px;
  padding: 0;
}

/* ============================================ */

.tag {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #787a80;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 6px 16px;
  transition-duration: 0.3s;
}

.tag:hover {
  color: #ffffff;
  border: 1px solid #ff3f3a;
  background-color: #ff3f3a;
}

/* ============================================ */

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #1e212c;
  text-transform: uppercase;
  margin-bottom: 24px;
}

/* ============================================ */

a svg .facebook,
a svg .twitter,
a svg .linked-in {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

a svg:hover .facebook,
a svg:hover .twitter,
a svg:hover .linked-in {
  fill: #ff3f3a;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* ================== HEADER ================== */

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 35px 15px;
  column-gap: 60px;
  margin-bottom: 60px;
  background-color: #ffffff;
}

.header__logo img {
  max-width: 100%;
}

.menu__list {
  display: flex;
  column-gap: 30px;
}

.header__buttons {
  display: flex;
  column-gap: 36px;
  margin-left: auto;
}

.menu__link {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: rgba(66, 69, 81, 1);
  padding: 5px;
  transition-duration: 0.3s;
  position: relative;
}

.menu__link:hover {
  color: rgba(255, 63, 58, 1);
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: rgba(255, 63, 58, 1);
  transition-duration: 0.3s;
}

.menu__link:hover:before {
  width: 100%;
}

.menu__link-active {
  color: rgba(255, 63, 58, 1);
}

.header__button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  width: 205px;
  height: 50px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  transition-duration: 0.3s;
}

.header__button-1:hover {
  background: #ffffff;
  color: #ff3f3a;
}

.header__button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  border: 1px solid rgba(255, 64, 58, 0);
  border-radius: 4px;
  transition-duration: 0.3s;
  position: relative;
  padding-left: 28px;
}

.header__button-2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/person.svg");
  background-position: center;
  background-size: cover;
  transition-duration: 0.3s;
}

.header__button-2:hover::before {
  background-image: url("../img/icons/person-hover.svg");
}

.header__button-2:hover {
  color: #ff3f3a;
}

/* =================== PAGE =================== */

.page {
  padding-top: 180px;
  flex: 1 1 auto;
  margin-bottom: 60px;
}
.page__container {
  display: flex;
  column-gap: 78px;
}
/* ================== ARTICLE ================= */

.article__container-mini {
  margin-bottom: 40px;
}

.article__top {
  margin-bottom: 12px;
}

.top-article {
  display: flex;
  column-gap: 24px;
}

.top-article__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: relative;
}

.top-article__item:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: #787a80;
}

.top-article__item-active .top-article__text {
  color: rgba(255, 63, 58, 1);
  font-weight: 700;
}

.top-article__image {
  width: 16px;
  height: 16px;
}

.top-article__image img {
  max-width: 100%;
}

.top-article__text {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(66, 69, 81, 1);
}

.article__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 26px;
}

.bottom-article {
  display: flex;
  justify-content: space-between;
}

.time-bottom-article {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.time-bottom-article__item {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.time-bottom-article__value {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(120, 122, 128, 1);
}

.social-bottom-article {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.social-bottom-article__share {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(30, 33, 44, 1);
}

.social-bottom-article__items {
  display: flex;
  gap: 12px;
}

.social-bottom-article__item {
  width: 20px;
  height: 20px;
}

.social-bottom-article__item img {
  max-width: 100%;
  transition-duration: 0.3s;
}

.social-bottom-article__item img:hover {
  transform: scale(1.2);
}

/* =================== MAIN =================== */

.main__container {
  margin-bottom: 60px;
}

.main__image {
  margin-bottom: 60px;
}

.main__image {
  max-width: 100%;
}

.main__image img {
  max-width: 100%;
}

.text-main__paragraph {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(66, 69, 81, 1);
}

.text-main__paragraph-1 {
  margin-bottom: 24px;
}

.text-main__paragraph-2 {
  margin-bottom: 48px;
}

.text-main__paragraph-weight {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(30, 33, 44, 1);
  margin-bottom: 24px;
}

.text-main__paragraph-decor {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(30, 33, 44, 1);
  margin-bottom: 48px;
  position: relative;
  padding-left: 58px;
}

.text-main__paragraph-decor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 20px;
  background-image: url("../img/icons/braces.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.text-main__paragraph-3 {
  margin-bottom: 24px;
}

.text-main__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 24px;
}

.text-main__item {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(66, 69, 81, 1);
  position: relative;
  padding-left: 32px;
}

.text-main__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* =================== RIGHT =================== */

.right-page__container-micro {
  max-width: 342px;
  padding: 0;
}

.right-page__form {
  margin-bottom: 60px;
}

.form-right-page {
  max-width: 342px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d7dadd;
  position: relative;
}

.form-right-page__search {
  height: 100%;
  width: 100%;
  padding-left: 16px;
  padding-right: 44px;
}

.form-right-page__search::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #9a9ca5;
}

.form-right-page__submit {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/icons/search.svg");
}

.autor-right-page {
  display: flex;
  flex-direction: column;
}

.autor-right-page__body {
  margin-bottom: 60px;
}

.body-autor-right-page {
  display: flex;
  column-gap: 20px;
}

.body-autor-right-page__image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
  overflow: hidden;
}

.body-autor-right-page__image img {
  max-width: 100%;
  transition-duration: 0.3s;
}

.body-autor-right-page__image img:hover {
  transform: scale(1.2);
}

.body-autor-right-page__info {
  display: flex;
  flex-direction: column;
}

.body-autor-right-page__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #424551;
  margin-bottom: 4px;
}

.body-autor-right-page__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #787a80;
  margin-bottom: 20px;
}

.body-autor-right-page__social {
  display: flex;
  column-gap: 12px;
}

.body-autor-right-page__item {
  width: 20px;
  height: 20px;
}

.right-page__trending {
  margin-bottom: 60px;
}

.trending-right-page__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-trending-right-page {
  display: flex;
  column-gap: 20px;
}

.item-trending-right-page__image img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
}

.item-trending-right-page__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #787a80;
  position: relative;
  padding-left: 24px;
}

.item-trending-right-page__date::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/icons/calendar.svg");
}

.item-trending-right-page__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  transition-duration: 0.3s;
}

.item-trending-right-page__text:hover {
  color: #ff3f3a;
}

.tags-right-page {
  display: flex;
  flex-direction: column;
}

.tags-right-page__items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* ================== FOOTER ================== */

.top-footer {
  max-width: 810px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.tags-top-footer {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.tags-top-footer__tags {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: #1e212c;
}

.tags-top-footer__items {
  display: flex;
  column-gap: 12px;
}

.tags-top-footer__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #787a80;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 6px 16px;
  transition-duration: 0.3s;
}

.tags-top-footer__item:hover {
  color: #ffffff;
  border: 1px solid #ff3f3a;
  background-color: #ff3f3a;
}

.social-top-footer {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.social-top-footer__share {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(30, 33, 44, 1);
}

.social-top-footer__items {
  display: flex;
  gap: 12px;
}

.social-top-footer__item {
  width: 20px;
  height: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}

.bottom-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  width: 342px;
  height: 50px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  transition-duration: 0.3s;
  letter-spacing: 2px;
  animation: btn linear 1s infinite;
}

.bottom-footer__link:hover {
  background: #ffffff;
  color: #ff3f3a;
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(247, 94, 5, 1), 0 0 30px rgba(247, 94, 5, 0.7),
      0 0 60px rgba(247, 94, 5, 0.4);
  }
  100% {
    transform: scale(1);
  }
}
/* ============================================ */
