@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #424551;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1259px) {
  [class*=__container] {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (max-width: 991px) {
  [class*=__container] {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    max-width: 100%;
    margin: 0;
    padding: 0 10px;
  }
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
}

.subtitle {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 0 40px;
  height: 50px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  transition-duration: 0.3s;
  letter-spacing: 0.5px;
}
.button:hover {
  background: rgba(255, 255, 255, 0);
  color: #ff3f3a;
}

.button--reverce {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  padding: 0 40px;
  height: 50px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0);
  color: #ff3f3a;
  transition-duration: 0.3s;
  letter-spacing: 0.5px;
}
.button--reverce:hover {
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.list-item {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  padding-left: 32px;
  cursor: pointer;
}
.list-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/check.svg") center no-repeat;
  transition-duration: 0.4s;
}
.list-item:hover::before {
  transform: rotate(-360deg) scale(1.3);
}

.social--article path {
  fill: #787a80;
  transition-duration: 0.3s;
}

.social--article:hover path {
  fill: #ff3f3a;
  transform: scale(1.1);
}

.social--footer path,
.social--swiper path {
  fill: #a1a4a9;
  transition-duration: 0.3s;
}

.social--footer:hover path,
.social--swiper:hover path {
  fill: #ffffff;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.header__logo {
  display: inline-block;
  padding: 5px 0;
}
.header__logo img {
  width: 130px;
}
.header__buttons {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  margin-left: auto;
}
.header__button--login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  border: 1px solid rgba(255, 64, 58, 0);
  border-radius: 4px;
  transition-duration: 0.3s;
  position: relative;
  padding-left: 28px;
  color: #424551;
}
.header__button--login:visited {
  text-decoration: none;
  color: #424551;
}
.header__button--login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/person.svg");
  background-position: center;
  background-size: cover;
  transition-duration: 0.3s;
}
.header__button--login:hover {
  color: #ff3f3a;
}
.header__button--login:hover::before {
  background-image: url("../img/icons/person-hover.svg");
}

.menu__burger-icon {
  display: block;
  width: 30px;
  height: 18px;
  margin: 10px;
  position: relative;
  z-index: 15;
  cursor: pointer;
}
@media (min-width: 992px) {
  .menu__burger-icon {
    display: none;
  }
}
.menu__burger-icon span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 63, 58);
  transition: all 0.3s;
}
.menu__burger-icon span:first-child {
  top: 0;
}
.menu__burger-icon span:last-child {
  bottom: 0;
  top: auto;
}
.menu__burger-icon.active span {
  transform: scale(0);
}
.menu__burger-icon.active span:first-child {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu__burger-icon.active span:last-child {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}
@media (max-width: 991px) {
  .menu__body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #1e212c;
    display: flex;
    transition: all 0.5s;
    overflow: auto;
    z-index: 10;
  }
}
.menu__body.active {
  left: 0;
  top: 0;
}
.menu__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.menu__link {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: #424551;
  padding: 5px;
  transition-duration: 0.3s;
  position: relative;
}
.menu__link:hover {
  color: rgb(255, 63, 58);
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: rgb(255, 63, 58);
  transition-duration: 0.3s;
}
.menu__link:hover::before {
  width: 100%;
}
.menu__link--active {
  color: rgb(255, 63, 58);
}

.page {
  flex: 1 1 auto;
}

.footer {
  background: #1e212c;
  padding-top: 80px;
}
@media (max-width: 1259px) {
  .footer {
    padding-top: 30px;
  }
}
.top-footer {
  padding-bottom: 60px;
  position: relative;
}
.top-footer__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.top-footer__item--main {
  max-width: 286px;
}
.top-footer__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
.top-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.top-footer__link {
  line-height: 1.6;
  color: #ffffff;
  opacity: 0.6;
  transition-duration: 0.3s;
}
.top-footer__link:hover {
  opacity: 1;
}
.top-footer__item--sing {
  max-width: 286px;
}
.top-footer__form {
  position: relative;
  width: 100%;
  height: 36px;
  display: flex;
  margin-bottom: 12px;
}
.top-footer__input {
  flex: 1 1 auto;
  padding: 9px 24px 9px 12px;
  background: rgba(255, 255, 255, 0.12);
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.top-footer__input:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}
.top-footer__input::-moz-placeholder {
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
}
.top-footer__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
}
.top-footer__input::placeholder {
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
}
.top-footer__button {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/icons/right.png");
}
.top-footer__subscribe {
  font-size: 10px;
  line-height: 1.5;
  color: #ffffff;
}

.item-top-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 0;
}
.item-top-footer__logo img {
  max-width: 100%;
}
.item-top-footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 38px;
}
.item-top-footer__social {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.item-top-footer__link {
  display: inline-block;
  padding: 2px;
  transition-duration: 0.3s;
}
.item-top-footer__link:hover {
  transform: scale(1.1);
}

.bottom-footer {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.05);
}
.bottom-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer__copy {
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
}
.bottom-footer__copy span {
  display: inline-block;
  width: 15.17px;
  height: 13.33px;
  background-image: url("../img/icons/heart.svg");
  background-position: center;
  background-size: cover;
  margin: 0 4px -2px 4px;
}
.bottom-footer__link {
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0.6;
  transition-duration: 0.3s;
}
.bottom-footer__link:hover {
  opacity: 1;
}

.header {
  background: #ffffff linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.header__logo {
  position: relative;
  z-index: 7;
}
.main {
  position: relative;
  padding: 200px 0 90px 0;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.main::before {
  content: "";
  position: absolute;
  top: 133px;
  left: 4.2%;
  width: 96px;
  height: 96px;
  background: url("../img/background/shapes_01.svg") center no-repeat;
  z-index: 6;
}
@media (max-width: 1565px) {
  .main::before {
    display: none;
  }
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 5%;
  width: 110px;
  height: 110px;
  background: url("../img/background/shapes_02.svg") center no-repeat;
  z-index: 6;
}
@media (max-width: 1565px) {
  .main::after {
    display: none;
  }
}
.main__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
.main__container::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 30%;
  width: 61px;
  height: 61px;
  background: url("../img/background/vector_01.svg") center no-repeat;
  z-index: 0;
}
.main__content {
  flex: 0 1 calc(50% - 10px);
}
.main__picture {
  flex: 0 1 calc(50% - 10px);
}
.main__picture img {
  max-width: 100%;
}

.content-main {
  padding-top: 12px;
}
.content-main__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
  background-color: inherit;
  position: relative;
  height: 84px;
  padding-left: 84px;
  margin-bottom: 24px;
  margin-left: -16px;
  transition-duration: 0.3s;
}
.content-main__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translatey(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ff3f3a url("../img/icons/polygon.svg") 22px center no-repeat;
  z-index: 1;
  transition-duration: 0.3s;
}
.content-main__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: rgba(255, 63, 58, 0.12);
  z-index: 0;
  transition-duration: 0.3s;
}
.content-main__button:hover::after {
  background: rgba(255, 63, 58, 0.3);
}
.content-main__button:hover::before {
  background: #ff3f3a url("../img/icons/polygon-hover.svg") 22px center no-repeat;
}
.content-main__title {
  position: relative;
  font-weight: 900;
  font-size: clamp(2rem, -1.112rem + 6.49vw, 4rem);
  line-height: 1.3;
  letter-spacing: 1px;
  color: #1e212c;
  max-width: 496px;
  margin-bottom: 60px;
  z-index: 2;
}
.content-main__title::before {
  content: "";
  position: absolute;
  bottom: 34px;
  right: -32px;
  width: 88px;
  height: 47px;
  background: url("../img/background/shapes_03.svg") center no-repeat;
  z-index: -1;
}
.content-main__buttons {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.statistic {
  position: relative;
  padding: 90px 0;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.statistic::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 284px;
  height: 284px;
  background: url("../img/background/circles_01.svg") 0 bottom no-repeat;
  z-index: 0;
}
.statistic::after {
  content: "";
  position: absolute;
  top: -90px;
  right: -10px;
  width: 187px;
  height: 137px;
  background: url("../img/background/dots_01.svg") center no-repeat;
  z-index: 0;
}
.statistic__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistic__item {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  line-height: 1.6;
  display: flex;
  color: #1e212c;
}
.statistic__item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  text-align: center;
  color: #1e212c;
}
.statistic__point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff3f3a;
}

.whoweare {
  padding: 180px 0 90px 0;
  position: relative;
  background-color: rgba(229, 229, 229, 0.1);
}
.whoweare::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  width: 181px;
  height: 220px;
  background: url("../img/background/dots_02.svg") left top no-repeat;
  z-index: 0;
}
.whoweare::after {
  content: "";
  position: absolute;
  bottom: 105px;
  right: 0;
  width: 287px;
  height: 287px;
  background: url("../img/background/circles_02.svg") right no-repeat;
  z-index: 0;
}
.whoweare__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.whoweare__picture {
  flex: 0 1 57.3%;
}
.whoweare__picture imag {
  max-width: 100%;
}
.whoweare__content {
  padding-left: 20px;
  flex: 0 1 42.7%;
  max-width: 390px;
}

.content-whoweare__subtitle {
  margin-bottom: 8px;
}
.content-whoweare__title {
  margin-bottom: 40px;
}
.content-whoweare__list {
  margin-bottom: 48px;
}
.feature {
  padding: 90px 0;
  background-color: rgba(229, 229, 229, 0.1);
}
.feature__container {
  display: flex;
  flex-direction: column;
  row-gap: 58px;
}
.feature__header {
  display: flex;
  justify-content: space-between;
}
.feature__subtitle {
  margin-bottom: 8px;
}
.feature__link {
  align-self: flex-end;
}
.feature__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
}
.item-feature {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  border: 1px solid #e5e8ed;
  border-left: none;
  transition-duration: 0.4s;
}
.item-feature:hover {
  transform: scale(1.03);
}
.item-feature:hover .item-feature__photo img {
  transform: scale(1.1);
}
.item-feature__photo {
  flex: 0 0 35.666%;
  overflow: hidden;
  border-radius: 4px 0 0 4px;
}
.item-feature__photo img {
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
}
.item-feature__info {
  padding: 32px;
}
.item-feature__category--marketing {
  background: #03cea4;
  border: 1px solid #03cea4;
  transition-duration: 0.3s;
}
.item-feature__category--marketing:hover {
  color: #03cea4;
  background: #ffffff;
  border: 1px solid #03cea4;
}
.item-feature__category--management {
  background: #5a87fc;
  border: 1px solid #5a87fc;
  transition-duration: 0.3s;
}
.item-feature__category--management:hover {
  color: #5a87fc;
  background: #ffffff;
  border: 1px solid #5a87fc;
}
.item-feature__category--hr {
  background: #f89828;
  border: 1px solid #f89828;
  transition-duration: 0.3s;
}
.item-feature__category--hr:hover {
  color: #f89828;
  background: #ffffff;
  border: 1px solid #f89828;
}
.item-feature__category--design {
  background: #f52f6e;
  border: 1px solid #f52f6e;
  transition-duration: 0.3s;
}
.item-feature__category--design:hover {
  color: #f52f6e;
  background: #ffffff;
  border: 1px solid #f52f6e;
}

.info-item-feature__category {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  padding: 1px 8px;
  border-radius: 4px;
  height: 23px;
  margin-bottom: 20px;
}
.info-item-feature__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 20px;
}
.info-item-feature__price {
  font-size: 18px;
  line-height: 1.5;
  color: #787a80;
}
.info-item-feature__price span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #ff4242;
  margin-right: 16px;
  position: relative;
}
.info-item-feature__price span::after {
  content: "";
  position: absolute;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 1px;
  background-color: #787a80;
}

.benefirs {
  padding: 80px 0;
  background-color: rgba(229, 229, 229, 0.1);
}
.benefirs__subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.benefirs__title {
  text-align: center;
  margin-bottom: 60px;
}
.body-benefirs__buttons {
  display: flex;
  margin-bottom: 60px;
}
.body-benefirs__button {
  flex: 0 1 25%;
  background-color: inherit;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #9a9ca5;
  position: relative;
  transition-duration: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
}
.body-benefirs__button:hover {
  color: #ff3f3a;
  text-decoration: underline;
}
.body-benefirs__button::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background: url("../img/tabs/star.svg") center no-repeat;
  transition-duration: 0.3s;
}
.body-benefirs__button.active {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
}
.body-benefirs__button--experienced:hover::before {
  background: url("../img/tabs/star-active.svg") center no-repeat;
}
.body-benefirs__button--experienced::before {
  background: url("../img/tabs/star.svg") center no-repeat;
}
.body-benefirs__button--experienced.active::before {
  background: url("../img/tabs/star-active.svg") center no-repeat;
}
.body-benefirs__button--feedback:hover::before {
  background: url("../img/tabs/like-active.svg") center no-repeat;
}
.body-benefirs__button--feedback::before {
  background: url("../img/tabs/like.svg") center no-repeat;
}
.body-benefirs__button--feedback.active::before {
  background: url("../img/tabs/like-active.svg") center no-repeat;
}
.body-benefirs__button--online:hover::before {
  background: url("../img/tabs/layouts-active.svg") center no-repeat;
}
.body-benefirs__button--online::before {
  background: url("../img/tabs/layouts.svg") center no-repeat;
}
.body-benefirs__button--online.active::before {
  background: url("../img/tabs/layouts-active.svg") center no-repeat;
}
.body-benefirs__button--community:hover::before {
  background: url("../img/tabs/chat-active.svg") center no-repeat;
}
.body-benefirs__button--community::before {
  background: url("../img/tabs/chat.svg") center no-repeat;
}
.body-benefirs__button--community.active::before {
  background: url("../img/tabs/chat-active.svg") center no-repeat;
}
@-webkit-keyframes tabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content-body-benefirs__item {
  display: flex;
  justify-content: space-between;
  display: none;
}
.content-body-benefirs__item.active {
  display: flex;
  -webkit-animation: tabs 1s;
          animation: tabs 1s;
}
.content-body-benefirs__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 495px;
}
.content-body-benefirs__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 24px;
}
.content-body-benefirs__text {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}
.content-body-benefirs__picture {
  flex: 0 1 48.78%;
}
.content-body-benefirs__picture img {
  max-width: 100%;
}

.ourevents {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.ourevents::before {
  content: "";
  position: absolute;
  top: -132px;
  right: -30px;
  width: 284px;
  height: 284px;
  background: url("../img/background/circles_03.svg") center no-repeat;
}
.ourevents::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 116px;
  height: 159px;
  background: url("../img/background/dots_03.svg") center no-repeat;
}
.ourevents__subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.ourevents__title {
  margin-bottom: 60px;
  text-align: center;
}
.ourevents__items {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 60px;
}
.ourevents__bottom {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.ourevents__text {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #1e212c;
}
.ourevents__link {
  font-size: 16px;
}

.item-ourevents {
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 32px 40px;
  transition-duration: 0.3s;
}
.item-ourevents:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.item-ourevents__date {
  min-width: 177px;
}
.item-ourevents__link {
  flex: 0 0 136px;
  margin-left: auto;
  width: 134px;
  height: 42px;
  padding: 0 25px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.date-item-ourevents {
  display: flex;
}
.date-item-ourevents__number {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 20px;
}
.date-item-ourevents__rigth {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.date-item-ourevents__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}
.date-item-ourevents__time {
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
}

.info-item-ourevents {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.info-item-ourevents__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}
.info-item-ourevents__category {
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
}

.certificate {
  padding: 120px 0;
  background-color: rgba(229, 229, 229, 0.1);
}
.certificate__container {
  display: flex;
  position: relative;
}
.certificate__info {
  max-width: 397px;
}
.certificate__picture {
  width: 57.3%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.certificate__picture img {
  max-width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

.info-certificate__subtitle {
  margin-bottom: 8px;
}
.info-certificate__title {
  margin-bottom: 48px;
}
.info-certificate__text {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  margin-bottom: 32px;
}
.info-certificate__organizations {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.team {
  padding: 166px 0 90px 0;
  background-color: #f4f5f7;
  position: relative;
}
.team::before {
  content: "";
  position: absolute;
  top: 83px;
  left: 204px;
  width: 41px;
  height: 41px;
  background: url("../img/background/vector_02.svg") center no-repeat;
}
.team::after {
  content: "";
  position: absolute;
  bottom: 200px;
  right: 0;
  width: 96px;
  height: 96px;
  background: url("../img/background/shapes_04.svg") top right no-repeat;
}
.team__subtitle {
  margin-bottom: 8px;
}
.team__title {
  margin-bottom: 60px;
}
.team__body {
  position: relative;
}
.swiper-slide {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
}
.swiper-slide__item {
  min-width: 285px;
  overflow: hidden;
}
.swiper-slide__photo {
  overflow: hidden;
  width: 285px;
  height: 340px;
  background: #ffcf2d;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin-bottom: 16px;
}
.swiper-slide__photo image {
  max-width: 100%;
}
.swiper-slide__photo:hover .photo-swiper-slide__background {
  display: block;
  -webkit-animation: shadow 0.5s forwards;
          animation: shadow 0.5s forwards;
}
.swiper-slide__photo:hover .photo-swiper-slide__social {
  -webkit-animation: social 0.5s forwards;
          animation: social 0.5s forwards;
}
.swiper-slide__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #424551;
  margin-bottom: 4px;
}
.swiper-slide__position {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #787a80;
}

.photo-swiper-slide__background {
  position: absolute;
  display: none;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
  border-radius: 4px;
  z-index: 2;
  transition-duration: 1s;
}
.photo-swiper-slide__social {
  position: absolute;
  bottom: -40px;
  right: 20px;
  display: flex;
  gap: 12px;
  z-index: 3;
  transform: rotate(180deg);
}

@-webkit-keyframes shadow {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes shadow {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes social {
  0% {
    bottom: -40px;
    transform: rotate(180deg);
  }
  100% {
    bottom: 20px;
    transform: rotate(0deg);
  }
}
@keyframes social {
  0% {
    bottom: -40px;
    transform: rotate(180deg);
  }
  100% {
    bottom: 20px;
    transform: rotate(0deg);
  }
}
.swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 0px;
  border: 3px solid rgb(179, 183, 188);
  border-radius: 3px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  border: 3px solid rgb(66, 69, 81);
}

.team__body .swiper-button-prev {
  position: absolute;
  top: -82px;
  left: calc(100% - 71.22px);
  z-index: 2;
  transition-duration: 0.3s;
}
.team__body .swiper-button-prev:hover {
  transform: scale(1.05);
}

.team__body .swiper-button-prev::after {
  color: #f75e05;
}

.team__body .swiper-button-next {
  position: absolute;
  top: -82px;
  left: calc(100% - 24.61px);
  z-index: 2;
  transition-duration: 0.3s;
}
.team__body .swiper-button-next:hover {
  transform: scale(1.05);
}

.team__body .swiper-button-next::after {
  color: #f75e05;
}

.blog {
  padding: 120px 0 180px 0;
  background-color: rgba(229, 229, 229, 0.1);
  position: relative;
}
.blog::after {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -163px;
  right: 0;
  width: 258px;
  height: 258px;
  background: url("../img/background/circles_05.svg") top right no-repeat;
}
.blog__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.blog__subtitle {
  margin-bottom: 8px;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 30px;
}
.item-blog {
  position: relative;
}
.item-blog::before {
  content: "Podcsat";
  position: absolute;
  top: 12px;
  left: 12px;
  padding-left: 28px;
  background: #ffffff url("../img/blog/mic.svg") 8px center no-repeat;
  padding: 1px 8px 1px 28px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  color: #424551;
  z-index: 2;
}
.item-blog:nth-child(2)::before {
  content: "Video";
  position: absolute;
  background: #ffffff url("../img/blog/play.svg") 8px center no-repeat;
}
.item-blog:nth-child(3)::before {
  content: "Article";
  position: absolute;
  background: #ffffff url("../img/blog/files.svg") 8px center no-repeat;
}
.item-blog__picture {
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 4px;
}
.item-blog__picture img {
  max-width: 100%;
  max-height: 100%;
  transition-duration: 0.3s;
}
.item-blog__picture img:hover {
  transform: scale(1.05);
}
.item-blog__info {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #787a80;
  margin-bottom: 8px;
  align-items: center;
}
.item-blog__info span {
  content: "";
  top: 50%;
  width: 0;
  height: 12px;
  border: 1px solid #787a80;
}
.item-blog__category {
  font-weight: 700;
}
.item-blog__date {
  position: relative;
  padding-left: 24px;
}
.item-blog__date::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/blog/calendar.svg") center no-repeat;
}
.item-blog__time {
  position: relative;
  padding-left: 24px;
}
.item-blog__time::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/blog/clock.svg") center no-repeat;
}
.item-blog__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 8px;
}
.item-blog__text {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  margin-bottom: 16px;
}
.item-blog__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: #1e212c;
  position: relative;
}
.item-blog__link:hover {
  color: #ff3f3a;
}
.item-blog__link:hover::after {
  -webkit-animation: line 0.5s;
          animation: line 0.5s;
}
.item-blog__link::after {
  content: "";
  position: absolute;
  right: -25px;
  top: calc(50% + 2px);
  width: 18px;
  height: 11px;
  transform: translateY(-50%);
  background: url("../img/blog/line.svg") center no-repeat;
}

@-webkit-keyframes line {
  0% {
    right: -25px;
  }
  50% {
    right: -35px;
  }
  100% {
    right: -25px;
  }
}

@keyframes line {
  0% {
    right: -25px;
  }
  50% {
    right: -35px;
  }
  100% {
    right: -25px;
  }
}
.dontmiss {
  padding: 120px 0 180px 0;
  background: url("../img/dontmiss/illustration.svg") left bottom no-repeat, url("../img/dontmiss/illustration.svg") right bottom no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.dontmiss__subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.dontmiss__title {
  max-width: 810px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.dontmiss__form {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.dontmiss__input {
  height: 50px;
  max-width: 422px;
  background: #ffffff;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 100%;
  padding: 12px 16px;
}
.dontmiss__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.6;
  color: #9a9ca5;
}
.dontmiss__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.6;
  color: #9a9ca5;
}
.dontmiss__input::placeholder {
  font-size: 16px;
  line-height: 1.6;
  color: #9a9ca5;
}
.dontmiss__input:focus {
  outline: none;
  border: 1px solid #000000;
}